In [ ]:
---
title: '[Math 421] Assignment 4'
author: "Rodrigue Beleho"
date: "September 26, 2018"
output: word_document
---

#Question 1
```{r}
shido <- function(x)
{
  return (x^2+3*x+1)
}

shido(8) #Plus a number into the fuction and see what happens
```

#Question 2
```{r}
  shido2 <- function(x) {
  prod(x)
  }
v <- c(6,7,8,9)
shido2(v)

```

#Question 3
```{r}
shido3 <- function(v,n) {
  
  v[is.na(v)] <- n
  return(v)
}

v2 <- c(2, NA, 4)
shido3(v2,9)
```

#Question 4
```{r}
shido4 <- function(x) {
average <- mean(x,na.rm = TRUE)
x[is.na(x)] <- average
return(x)
}

v4 <- c(6,NA,7)
shido4(v4)
```

#Question 5
```{r}
shido5 <- function(df) {
  ec5 <- ncol(df)
  for (i in 1: ec5) {
    if(is.numeric(df[[i]]) == TRUE) {
     df[[i]][is.na(df[[i]])] <- mean(df[[i]], na.rm = TRUE)
    }
  }
  return(df)
}

titanic = read.csv("C:/Users/student/Desktop/[421] Data/titanic.csv")
library(ggplot2)

```

#Question 6
```{r}
shido6 <- function(df,var1) {
titanic = read.csv("C:/Users/student/Desktop/[421] Data/titanic.csv")
library(ggplot2)
rt = ggplot(data=df) +geom_bar(mapping = aes(x= df[,var1]))
return(rt)
}
shido6(titanic, 3)

```

#Question 7
```{r}
shido7 <- function(df,var1,var2) {
titanic = read.csv("C:/Users/student/Desktop/[421] Data/titanic.csv")
library(ggplot2)
  rt = ggplot(data=df) + geom_bar(mapping = aes(x = df[,var1], fill = df[,var2]), position = "dodge")
  return(rt)
}

shido7(titanic, 5, 1)
```